@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Root Variables for Colors */
:root {
    --primary-color: #007bff;
    --secondary-color: #0062cc;
    --hover-primary: #0056b3;
    --hover-secondary: #004080;
    --accent-color: #007991;
    --accent-gradient: #78ffd6;
    --danger-color: #dc3545;
    --danger-hover: #c82333;
    --success-color: #28a745;
    --success-hover: #218838;
    --white: #ffffff;
    --black: #000000;
    --grey: #f7f7f7;
}

/* Universal Font Family */
* {
    font-family: 'Poppins', Arial, sans-serif;
}

/* Body Styles */
body {
    background-color: var(--grey);
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Header Styles */
header {
    background: linear-gradient(to right, var(--accent-color), var(--accent-gradient));
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    font-family: 'Orbitron', sans-serif;
}

header a {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

@keyframes glow {
    from { text-shadow: 0 0 10px var(--white); }
    to { text-shadow: 0 0 20px #0ff; }
}

header a:hover {
    animation: glow 1s ease-in-out infinite alternate;
}

.logo img {
    height: 70px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    font-size: 19px;
    color: var(--white);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
}

.search-bar input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar input:focus {
    background-color: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.search-bar button {
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    color: var(--white);
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-bar button:hover {
    background: linear-gradient(45deg, var(--hover-primary), var(--hover-secondary));
    transform: translateY(-2px);
}

.profile-tab a {
    color: var(--white);
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Filters Styles */
.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    transition: all 0.3s ease;
}

@media (min-width: 600px) {
    .filters {
        flex-direction: row;
        gap: 20px;
    }
}

.filters label {
    margin-right: 5px;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 16px;
}

.filters select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-size: 13px;
    background-color: var(--bg-select);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filters select:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px var(--focus-shadow);
}

/* Sneakers Container Styles */


.sneakers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}

.sneaker-item {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid #ccc; /* Ajout de la bordure grise */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: calc(25% - 20px); /* Ajustement pour trois éléments par ligne */
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.sneaker-item:hover {
    transform: scale(1.05); /* Augmente légèrement la taille de l'élément */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.sneaker-item img {
    width: 350px; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    object-fit: contain; /* Ensures the image fits within the area without being cut */
    border-radius: 5px;
    margin-bottom: 10px;
}

.sneaker-item h3 {
    margin: 10px 0;
    font-size: 1em; /* Réduction de la taille de la police */
}

.sneaker-item p {
    margin: 10px 0;
    color: var(--primary-color);
    font-size: 0.9em; /* Réduction de la taille de la police */
}
#home-link {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
}

#home-link img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}




/* Sneaker Details Styles */
.sneaker-details {
    background-color: var(--white);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sneaker-details h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#fav-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sneakers-description {
    flex: 1;
}

#favoris {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#favoris button {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#favoris button img {
    width: 30px;
    height: 30px;
}

#sneaker-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

#sneaker-images img {
    max-width: 150px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#sneaker-description {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

#sneaker-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#sneaker-cart label {
    font-weight: bold;
}

#sneaker-cart input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#sneaker-cart button {
    padding: 10px 20px;
    background-color: var(--success-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sneaker-cart button:hover {
    background-color: var(--success-hover);
}

/* Cart Container Styles */
.cart-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-container h1,
.cart-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart-item h3 {
    flex: 2;
    margin: 0;
    color: #333;
}

.cart-item p {
    flex: 3;
    margin: 0;
    color: #555;
}

.cart-item button,
button.quantity-control,
button.remove-item {
    padding: 5px 10px;
    margin: 0 2px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
}

.cart-item button:hover,
button.quantity-control:hover,
button.remove-item:hover {
    background-color: var(--hover-primary);
}

button.remove-item {
    background-color: var(--danger-color);
}

button.remove-item:hover {
    background-color: var(--danger-hover);
}

.total {
    text-align: right;
    font-size: 1.2em;
    margin-top: 20px;
    color: #333;
}

#clear-cart,
#checkout {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

#clear-cart {
    background-color: var(--danger-color);
    color: var(--white);
}

#clear-cart:hover {
    background-color: var(--danger-hover);
}

#checkout {
    background-color: var(--success-color);
    color: var(--white);
}

#checkout:hover {
    background-color: var(--success-hover);
}

/* Favorites List Styles */
#favorites-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.sneaker-fav-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    width: calc(25% - 20px);
    box-sizing: border-box;
}

.sneaker-fav-info {
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
}

.sneaker-fav-info h3 {
    margin-top: 0;
}

.sneaker-fav-info p {
    margin: 10px 0;
}

.sneaker-img {
    max-width: 100px;
    margin: 5px;
}

.sneaker-btn-container {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.add-to-cart {
    background-color: var(--success-color);
    color: var(--white);
}

.remove-from-favorites {
    background-color: var(--danger-color);
    color: var(--white);
}

.add-to-cart:hover,
.remove-from-favorites:hover {
    opacity: 0.8;
}

.sneaker-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#clear-favorites {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clear-favorites:hover {
    background-color: #cc0000;
}

.sneaker-item.unavailable {
    opacity: 0.5;
    pointer-events: none;
}

.original-price {
    text-decoration: line-through;
    color: red;
}

.discounted-price {
    font-weight: bold;
    color: green;
}

/* Address Form Styles */
.address-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

.address-form .form-group {
    display: flex;
    flex-direction: column;
}

.address-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.address-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.address-form input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.select-address {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px 0;
}

/* Payment Page Styles */

.payment-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    background-color: #f4f4f4;
}

.payment-cancel, .payment-success  {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.payment-cancel h1 {
    margin-bottom: 20px;
    color: #dc1717;
}
.payment-success h1 {
    margin-bottom: 20px;
    color: #007bff;
}


.payment-cancel, .payment-success  p {
    margin-bottom: 20px;
    color: #666;
}

.payment-cancel, .payment-success  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.payment-cancel, .payment-success a:hover {
    
}

/* Burger Menu Styles */
.burger-menu {
    position: relative;
    display: inline-block;
}

.burger-icon {
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--white);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 200px;
}

.dropdown-content a {
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.burger-menu .show {
    display: block;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  
}

.carousel-inner img {
    width: 100%;
    display: none;
}

.carousel-inner img.active {
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
   
}

.carousel-control-prev {
    margin-right:40%; /* Fine-tune positioning */
}

.carousel-control-next {
    
    margin-left:40%; /* Fine-tune positioning */
}